/* General Commands about website */
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;

    --maincolor: #7b5244;
    --subcolor: #333;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}

.container{
  width: 80%;
  margin: auto;   
}
.list-unstyle{
    list-style: none;
}


/* header*/
header{
    padding: 40px 0;
    /* background-color: #0F172B; */
    position: relative;
    z-index: 100;
}
a{
    text-decoration: none;
}

.header-content .logo{
    flex: 1;
    max-width: 170px;
}
.header-content nav{
    flex: 4;
    text-align: center;
}
.header-content .login{
    flex: 1;
    text-align: right;
}


header .header-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-unstyle li{
    display: inline-block;
}
.list-unstyle li ,
.list-unstyle li a{
    color: var(--subcolor);
}
.list-unstyle li .link-item{

    display: block;
    padding: 10px 20px;
    font-weight: bold;
    position: relative;
} 

.list-unstyle li .link-item::before{

    content: '';
    position: absolute;
    border-width: 0 2px;
    border-color: var(--maincolor);
    border-style: solid;
    width: 98%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.6s ;
    transform: scale3d(1,0,1)
}
.list-unstyle li .link-item:hover::before{

    transform: scale3d(1,1,1);

}
.list-unstyle li .link-item::after{

    content: '';
    position: absolute;
    border-width: 2px 0;
    border-color: var(--maincolor);
    border-style: solid;
    width: 100%;
    height: 92%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.6s,  transition-delay 0.3s ;
    transform: scale3d(0,1,1);
    transform-origin: left;
}



.list-unstyle li .link-item:hover::after{

    transform: scale3d(1,1,1);
    transition-delay: 0.3s;

} 


.login .list-unstyle li{

    display: inline-block;
    padding: 10px;
}
.header-content .login ul li:last-child i{
    position: relative;
}
.header-content .login ul li:last-child i::after{

    position: absolute;
    content: '0';
    background: var(--maincolor);
    color: #F1F8FF;
    bottom: -10px;
    padding:  0 4px;
    font-size: 12px;
    right: -5px;
    border-radius: 50%;

}

/* dropdown */
.dropdowm{
    position: relative;
}
.drppdown-menu{
    position: absolute;
    margin-top: 5px;
    border: 2px solid var(--maincolor);
    width: 300px;
    padding: 15px;
    background-color: #fff;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.6s, visibility 0.6s, opacity 0.6s ;
}
.dropdowm:hover .drppdown-menu{

    transform: scale(1);
    visibility: visible;
    opacity:1;

}
.drppdown-menu ul {
    display: table-cell;
    text-align: left;
}

.drppdown-menu ul li:first-child a{

    border-bottom: 1px solid var(--maincolor);
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;

}
.drppdown-menu ul li{

    line-height: 1.7;
}
/* section  sidebar*/
section.slider img{
    width: 100%;
    position: relative;
}
.img{
    position: relative;
}
.img .list-unstyle{

    position: absolute;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%);
    bottom: 10px;
    display: block;
    margin: auto;
}
.img .list-unstyle li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
    margin-left: 5px;
    transition: transform 0.5s, ackground-color 0.5s;
}
.img .list-unstyle li.active{
    width: 13px;
    height: 13px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(0);
    margin-left: 10px;

}
.img:hover .list-unstyle li{
    transform: scale(1);
}
.img .list-unstyle li:hover{

    background-color: #7b5244;
    cursor: pointer;
}

/* general  */
section .section-header{

    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    

}
.section-header .header-title{
    text-transform: capitalize;
    padding: 10px 0;
    line-height: 2;
    position: relative;
}

.section-header .header-title::after{

    display: block;
    content: '';
    position: absolute;
    width: 80px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: var(--maincolor);
    border-radius: 15px;
    transition: width 0.6s;
}
.section-header .header-title:hover::after{
    width: 120px;
}

/* section category */

.category-items {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: auto auto auto auto;  the same of above*/
    grid-gap: 10px;
    /* background-color: #333; */
    padding-bottom: 40px;
}
.category-item{
    position: relative;
}
.category-items img{
    width: 100%;
    margin-bottom: 10px;
}

.category-item-subtitle {

    color: gray;
    font-size: 13px;
    font-weight: normal;
}

.category-item .icon{

    width: 25px;
    height: 25px;
    background-color: var(--maincolor);
    text-align: center;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: 0px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;

}
.category-item .icon:hover{

    background-color: var(--subcolor);
    color: var(--maincolor);
}

.category-item:hover .icon{

    opacity: 1;
    visibility: visible;
}
.pdy-t{

    /* margin-bottom: 30px; */
    padding-bottom: 50px;
}
.category.img{
    position: relative;
}


/* discount */
.discount-items{

    display: flex

}

.discount-desc{
    flex: 2;
    background-color: #f7f3ef;
    padding: 10px;
    position: relative;
}
.discount-desc .bollets{

    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.discount-desc .bollets span{

    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--subcolor);
}
.discount-desc .top{

    position: relative;
    padding: 10px 0px 0px 60px;
    margin-bottom: 20px;
}
.discount-desc .top .icon{
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 3rem;
    color: var(--maincolor);
}
.discount-desc .top + p{
    line-height: 1.8;
}
.discount-item{
    flex: 1;
    height: 300px;
    position: relative;
    
}
.discount-item .discount-item-inf{

    position: absolute;
    top: 10px;
    left: 10px;
}

.discount-item .discount-item-inf h3{

    font-weight: normal;
    color: var(--maincolor)
}
.discount-item .discount-item-inf h2{

    font-size: 16px;
}

.discount-item:nth-child(2){

    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 10px;
    transition: transform 0.6s;
}
.discount-item:nth-child(2):hover{

    transform: scale(1.03);
}
.discount-item:nth-child(3){

    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
    transition: transform 0.6s;

}
.discount-item:nth-child(3):hover{
    transform: scale(1.03);
}
/* sprites */

.sprites{
    display: flex;
    padding-top: 50px;
    margin-bottom: 60px;
}
.sprite-item{

    flex: 1;
    text-align: center;
    border-right: 1px solid var(--maincolor);
}
.sprite-item:last-child{

    border: 0;
}

.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 40px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.sprite-icon-1{

    background-position: center 5px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-1{

    background-position: center -98px;
}
.sprite-icon-2{

    background-position: center -276px; 
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon-2{

    background-position: center -184px;
}

.sprite-icon-3{

    background-position: center -368px; 
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon-3{

    background-position: center -460px;
}


.sprite-icon-4{

    background-position: center -555px; 
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon-4{

    background-position: center -647px; 
    transition: 0.5s;
}

.sprite-icon-5{

    background-position: center -738px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-5{

    background-position: center -831px;
}

/* product */

.product-list{

    text-align: center;
    /* background-color: #7b5244; */
}
.product-list li{
 
    /* margin-left: 20px; */
    display: inline-block;
}
.product-list li a{
    display: inline-block;
    padding: 20px;
    /* background-color: #0F172B; */
    text-transform: capitalize;
    font-size: 1.2rem;
}
.product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 30px 0;
}
.product-img{

    position: relative;
}
.product-overlay{

    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
    opacity: 0.6;
}
.product-item:hover .product-overlay{

    transform: scaleX(1);

}
.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.product-overlay ul li{

    width: 30px;
    display: inline-block;
    height: 30px;
    background-color: var(--maincolor)
}
.product-overlay ul li a i{
    line-height: 30px;
    color: #fff;
}
.product-info{

    margin: 10px 0;
}

/* about-us */
.about-items{

    display: flex;
    height: 300px;
    /* background-color: #333; */
    
    
}

.about-info{
    flex: 1;
    position: relative;
    margin-right: 10px;
    
}

.about-info .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;    
}
.about-info .img
{
    height: 100%;
    opacity: 0.5;
}
.about-info .img img{
    width: 100%;
    height: 100%;
}

.about-item{

    flex:2;
    background-color: #f7f3ef;
    margin-left: 20px;
}
.about-item-inf{
    position: relative;
    padding: 20px 20px 40px 100px;
    margin-bottom: 30px;
    margin-top: 40px;
    overflow: hidden;


/* background-color: #7b5244; */
}
.about-item-inf span
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--maincolor);
}
.about-item-inf h3{

    position: absolute;
    top: 40px;
    left: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--maincolor);
}
.about-item-inf h2{
    position: absolute;
    left: 100px;
    top: 9px;
    color: var(--subcolor);
    text-transform: capitalize;
    font-size: 18px;
}
.about-item .bollet{

    text-align: right;
    margin-top: 50px;
    margin-right: 10px;

}
.about-item .bollet li{

    width: 50px;
    height: 4px;
    display: inline-block;
    background-color: var(--subcolor);
    text-align: right;
}
.about-item p{
    margin-left: 10px;
    line-height: 1.7;
}
/* loges */
.loges{

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
}

/* footer */
footer{

    background: #0F172B;
    padding: 50px;
    margin-top: 30px;
}
.footer-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-item .imge{
    width: 50px;
    margin-bottom: 20px;  
}
.footer-item .imge img{

    width: 100px;
    color: #F1F8FF;
}
.footer-item .desc{

    line-height: 1.8;
    color: #F1F8FF;
}

.footer-item .loges img{
    width: 120px;
    margin-top: -20px;
}

.footer-item .title{

    text-transform: capitalize;
    color: #F1F8FF;
    margin-left: 30px;
}
.footer-item .list-unstyle{

    margin-left: 30px;
    margin-top: 30px;
}

.footer-item .list-unstyle li{

    display: block;
    text-transform: capitalize;
    line-height: 1.6;
    
}
.footer-item .list-unstyle.list-last{

    margin-top: 50px;
    display: block;
}
.footer-item .list-unstyle.list-last li{

    display: inline-block;
    /* line-height: 8px; */
}
input{

    border: none;
    background:none;
    width: 200px;
    height: 40px;
    text-transform: capitalize;
    color: #F1F8FF;
    border: 1px solid #fff;
    margin-left: 30px;
    margin-top: 30px;
}
placeholder{
    color: #F1F8FF;
}

.footer-item .list-last a{

    /* background-color: #333; */
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.footer-item .list-last a i{

    font-size: 20px;
    line-height: 40px;
    color: #F1F8FF;
}
